.button__back {
    border: 1px solid rgba(0, 0, 0, .6);
    border-radius: 5px;
    color: var(--main-text);
    background-color: #fff;
    padding: 10px 25px;
    padding-left: 40px;
    background-image: url(../../build/img/icons/back__arrow.png);
    background-repeat: no-repeat;
    background-position: 15px;
    margin-left: 45px;
    margin-top: 25px;
}

.button__change {
    border: 1px solid rgba(0, 0, 0, .6);
    border-radius: 5px;
    color: var(--main-text);
    background-color: #fff;
    padding: 10px 25px;
    margin-left: 125px;
}

.about__user {
    padding: 45px;
    display: flex;
    color: var(--main-text);
}

.user__photo {
    border-right: 1px solid rgba(0, 0, 0, .6);
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}

.change__photo {
    display: block;
    margin-top: 20px;
    padding: 15px 55px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
}

.hidden__photo {
    display: none;
}

.wrapper-user {
    padding: 0 55px;
}

.main__client p {
    margin-bottom: 30px;
}

.main__client p span {
    border: 1px solid var(--main-text);
    padding: 5px 10px;
    border-radius: 10px;
}

.phone__user {
    color: var(--main-color);
    border: 1px solid var(--main-text);
    padding: 5px 40px;
    padding-left: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-left: 100px;
}

.phone__user::before {
    content: '';
    display: inline-block;
    width: 23px;
    height: 23px;
    background-image: url(../../build/img/icons/phone__user.png);
    position: relative;
    left: -115px;
    top: 5px;
}

.main__filiall {
    border-top: 1px solid var(--main-text);
    padding-top: 20px;
}

.wrapper__customer {
    text-align: center;
    padding: 0 55px;
    margin-left: 200px;
}