/* @media(max-width: 1400px) {
    .index__header {
        margin-top: 0px;
        margin-bottom: 45px;
    }

    .main__form {
        margin-bottom: 1.875rem;
    }

    button {
        margin-top: 1rem;
    }

    .main__wrapper {
        grid-template-columns: 3.125rem 1200px 3.125rem;
        height: 800px;
    }
} */